<nav
	class="nav1 justify-content-center">


	<!-- Modal -->

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

		<div class="modal-dialog modal-sm">

			<div class="modal-content">
				<div class="modal-header1">
					{% if app.user %}
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					{% else %}

						<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
					{% endif %}
				</div>
				<div class="modal-body1">
					ou
				</div>
				<div class="modal-footer1">
					{% if app.user %}
						<a class="modal-title" type"button" id="exampleModalLabel" href="{{path('app_user_show',{id: app.user.id})}}">mon compte</a>
					{% else %}
						<a type="button" href="{{path('app_register')}}" class="">s'inscrire</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<a class="nav-link" href="{{path('app_accueil')}}">Accueil</a>
	<a class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Produits
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
			{% for categorie in categories %}
				<li>
					<a class="dropdown-item" href="{{ path('app_categorie_show', {id: categorie.id}) }}">{{ categorie.nom }}</a>
				</li>
			{% endfor %}
		</ul>
	</a>
	{% if is_granted('ROLE_ADMIN') %}

		<a class="nav-link" href="{{path('admin')}}">Admin</a>
		<a class="nav-link" href="{{path('app_adresse_index')}}">adresse liv</a>
		<a class="nav-link" href="{{path('app_adressefact_index')}}">adresse fact</a>
		<a class="nav-link" href="{{path('app_user_index')}}">liste utilisateurs</a>


		{# <a class="nav-link" href="{{path('app_produit')}}">Produits</a> #}
	{% endif %}


</nav>
