<div
	class="nav1">


{#  nouvelle nav #}
<nav class="navbar-expand-lg navbar-light"  style="background-color: rgba(255, 166, 0, 0.886);">
  <div class="container-fluid">
 <div class="d-flex justify-content-center">
    <a class="navbar-brand" href="{{path('app_accueil')}}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse " id="navbarSupportedContent"> 

      {# <ul class="navbar-nav me-auto mb-2 ml-auto mb-lg-2"> #}
      <ul class="navbar-nav mx-auto me-auto">

        <li class="nav-item">
		  {% if app.user %}
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					{% else %}

						<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
					{% endif %}
        </li>
		 <li class="nav-item">
		  {% if app.user %}
						<a class="nav-link" href="{{path('app_user_show',{id: app.user.id})}}">Mon compte</a>
					{% else %}
						<a  class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
					{% endif %}
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produits
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			{% for categorie in categories %}

            <li><a class="dropdown-item gral" href="{{ path('app_categorie_show', {id: categorie.id}) }}">{{ categorie.nom }}</a></li>
            <li><hr class="dropdown-divider"></li>
			{% endfor %}

          </ul>
           <li class="nav-item">
          <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
        </li>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{{ path('app_panier') }}">Mon panier</a>
        </li>
	{% if is_granted('ROLE_ADMIN') %}

        <li class="nav-item">
          <a class="nav-link" href="{{path('admin')}}">Admin</a>
        </li>
	{% endif %}

      </ul>
    </div>
      
  </div>
</nav>
</div>

	
		{# <a class="nav-link" href="{{path('app_user_index')}}">liste utilisateurs</a> #} 


		{# <a class="nav-link" href="{{path('app_produit')}}">Produits</a> #}


