{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="tit">
		<h1>Connexion</h1>
	</div>

	<div class="tito">
		<p>tu n'es pas encore inscrit?</p>
		<a name="" id="mdp" class="btn" href="{{path('app_register')}}" role="button">inscription</a>
		<form method="post" id="form">

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}


			{# new login #}
			<div class="" id="loginBox">

				<h1 class="h3 mb-3 font-weight-normal">connecte toi</h1>
				{# <form id="form1" action"#"> #}
					<div class="inputBox">
						<input type="text" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required="required" onkeydown="validation()">
						<span id="text">email</span>
					</div>
					<script type="text/javascript">
						function validation() {
var form = document.getElementById("form");
var inputEmail = document.getElementById("inputEmail").value;
var text = document.getElementById("text");
var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

if (inputEmail.match(pattern)) {
form.classList.add("valid");
form.classList.remove("invalid");
// text.innerHTML = "Adresse email valide.";
// text.style.color = "#00ff00";
} else {
form.classList.remove("valid");
form.classList.add("invalid");
// text.innerHTML = "Mettez une adresse email valide svp.";
// text.style.color = "#ff0000";
}
if (inputEmail == "") {
form.classList.remove("valid");
form.classList.remove("invalid");
// text.innerHTML = "";
// text.style.color = "#00ff00";
}

}
					</script>

					<div class="inputBox">
						<input type="password" name="password" id="inputPassword" autocomplete="current-password" required="required">
						<span id="text">password</span>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="animated-link" type="submit">
						<span>
							Connexion
						</span>
					</button>
				</form>
				
				<a name="" id="mdp" class="btn" href="{{path('app_forgot_password_request')}}" role="button">mot de passe oublié?</a>

			</div>

			<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
			<script>
				confetti()
			</script>


		{# </form> #}
	</div>


</div>{% endblock %}
