{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="tit">

		<h1>Inscription</h1>
	</div>
	<div class="register">

		<div class="col-4">

			{{ form_start(registrationForm, {'attr':{'novalidate': 'novalidate'}}) }}
{# essai #}
{# <div class="inputBox">
{# {{ form_row(registrationForm.nom,
         {'attr':{'class':'inputBox'}}) }} #}
					{# <input type="text" value="" name="" id=""  required="required"> #}
					{# <span>nom</span> #}
				{# </div>  #}
{# fin essai #}
			<div class"form-group">{{ form_row(registrationForm.nom,
         {'attr':{'class':'form-control'}}) }}
			</div>
			<div class"form-group">
				{{ form_row(registrationForm.prenom, 
        {'attr':{'class':'form-control'}}) }}
			</div>


			<div class"form-group">
				{{ form_row(registrationForm.email,
        {'attr':{'class':'form-control'}}) }}
			</div>

			<div class"form-group">
				{{ form_row(registrationForm.plainPassword,
        {'attr':{'class':'form-control'}, 
							            label: 'Password'
							        }) }}
			</div>

			<div class"form-group">
				{{ form_row(registrationForm.agreeTerms,
        ) }}
			</div>
			<div class="">
				<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
				<script>
					confetti()
				</script>
				<button type="submit" class="animated-link"><span>Envoyer</span></button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
		<div class="col-4">
			<img src="{{asset("peinture.jpg")}}" alt="" class="img-fluid thumbnail">

		</div>
	</div>
{% endblock %}
