{% extends 'base.html.twig' %}

{% block title %}produits
{% endblock %}

{% block body %}


	<div class="ajoutprodtitre">
		<h1>liste des produits</h1>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>stock</th>
				<th>prix</th>

			</tr>
		</thead>
		<tbody>
			{% for prod in produit %}
				<tr>
					<td>{{ prod.id }}</td>
					<td>{{ prod.nom }}</td>
					<td>{{ prod.stock }}</td>
					<td>{{ prod.prix }}E</td>
					<td>
						<a href="{{path('app_detailproduit',{id: prod.id})}}" class="btn btn-primary">detail</td>
						{% if is_granted('ROLE_ADMIN') %}

							<td>
								<a class="btn btn-danger" href="{{path('app_delete',{id: prod.id})}}">Supprimer un produit</a>
							</td>
						{% endif %}
					</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="5">aucun produit trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
