{% extends 'base.html.twig' %}

{% block title %}liste des Produits{% endblock %}

{% block body %}
    <div class="ajoutprodtitre">
		<h1>liste des produits</h1>
	</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Stock</th>
                <th>Prix</th>
                {# <th>Description</th> #}
                {# <th>Image</th> #}
                {# <th>Histoire</th> #}
                {# <th>Utilisation</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.prix }}&nbsp;€</td>
                {# <td>{{ produit.description }}</td> #}
                {# <td>{{asset('uploads/' ~ produit.image) }}</td> #}
                {# <td>{{ produit.Histoire }}</td> #}
                {# <td>{{ produit.utilisation }}</td> #}
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
						{% if is_granted('ROLE_ADMIN') %}
                   
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
						{% endif %}
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
						{% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_produit_new') }}">Create new</a>
						{% endif %}

{% endblock %}
