{% extends 'base.html.twig' %}

{% block title %}khols
{% endblock %}

{% block body %}
{# <div class="imgglob">
				<img src="{{ asset("poufrouge.jpg")}}" class="tof46 card-img-top" alt="..."></a>

</div> #}
<div class="titrepouf">
		<h1>NOS KHOLS</h1>
	</div>
	<div class="pouf">

		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:7})}}">
				<img src="{{ asset("uploads/330a21e69d3c67cc44a720df97ad87d5dbf599de.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">KHOL <br>LONG<br>en bois</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:20})}}">
				<img src="{{ asset('uploads/02bd32e3c4def576d112439d24d817688b822381.jpg') }}" class="card-img-top" alt="..."></a>
				<p class="surplus5">KHOL <br>ROND<br>en bois</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:21})}}">
				<img src="{{ asset("uploads/ffe72584cdd250b973d5455fefa91cd0da520f98.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">KHOL<br>ROND<br>en bois</p>
		
		</div>
		

	</div>

	

{% endblock %}