{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<h1 class="tit">{{produit.nom}}</h1>
	<div class="rowi">
		<div class="col-4">
			<a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal1">


				<img src="{{asset('uploads/' ~ produit.image) }}" alt="" class="img-fluid thumbnail">
			</a>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">

					<div class="modal-body">

						<img src="{{asset('uploads/' ~ produit.image) }}" alt="" class="imgmod img-fluid thumbnail">
					</div>

				</div>
			</div>
		</div>
		{# modalfin #}
		<div class="col-4">
			<dl>

				<dt>Nom</dt>
				<dd>{{produit.nom}}</dd>

				<dt>stock</dt>
				<dd>{{produit.stock}}</dd>

				<dt>Prix</dt>
				<dd>{{produit.prix}}
					&nbsp;€</dd>

				<dt>Ajouter au panier</dt>
				<dd></dd>
				{% if app.user and produit.stock > 0 %}
					<td>
						<form action="{{ path('add_panier', {'id' : produit.id}) }}" method="post">
							<input type="number" name="qtte" id="qtte" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" style="max-width: 50px;" value="1">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</button>
						</form>
					</td>
				{% elseif app.user and produit.stock == 0 %}
					<td class="text-danger">Rupture de stock</td>
				{% endif %}
			</dl>

		</div>


	</div>


	{# essai new accordion #}
	<div class"" id="accord">
<div class="container">
<h1>Informations sur le produit</h1>
<div class="tabi">
<input type="radio" name="acc" id="acc1">
<label for="acc1">
<h2>01</h2>
<h3>Description</h3>
</label>
<div class="content"><p>{{produit.description|raw}}</p></div>
</div>

<div class="tabi">
<input type="radio" name="acc" id="acc2">
<label for="acc2">
<h2>02</h2>
<h3>Histoire</h3>
</label>
<div class="content"><p>{{produit.histoire|raw}}</p></div>
</div>

<div class="tabi">
<input type="radio" name="acc" id="acc3">
<label for="acc3">
<h2>03</h2>
<h3>Utilisation</h3>
</label>
<div class="content"><p>{{produit.utilisation|raw}}</p></div>
</div>

</div>
</div>
{# fin accordion #}
	<div class="tit">
		<h2>Vous aimerez aussi</h2>
	</div>
	<div class="drike1">
		<div class="drike" id="prodbox">
			<ul>
				<li style="--clr:#00ade1">
					<a href="{{path('app_accueil')}}" data-text="&nbsp;Divers">&nbsp;Divers&nbsp;</a>
				</li>
				<li style="--clr:#ff6493">
					<a href="{{path('app_accueil')}}" data-text="&nbsp;Mobilier">&nbsp;Mobilier&nbsp;</a>
				</li>
				<li style="--clr:#ffdd1c">
					<a href="{{path('app_accueil')}}" data-text="&nbsp;Cosmetic">&nbsp;Cosmetic&nbsp;</a>
				</li>
				<li style="--clr:#00dc82">
					<a href="{{path('app_accueil')}}" data-text="&nbsp;Deco">&nbsp;Deco&nbsp;</a>
				</li>
				<li style="--clr:#dc00d4">
					<a href="{{path('app_accueil')}}" data-text="&nbsp;poterie">&nbsp;poterie&nbsp;</a>
				</li>

			</ul>
			{# fin liste #}
		</div>
	</div>
	{% if app.user %}

		<div class="grix xs2 sm3 gutter-0 card">
			<div class="col-xs2 col-sm3">
				<h2>Commentaires</h2>
				{% for comment in produit.comments %}
					{% if comment.parent == null %}
						<h3>Commentaire de
							{{comment.nickname}}</h3>
						<p>Publié le
							{{comment.createdAt|date("d/m/Y H:i") }}</p>
						<div>{{comment.content|raw}}</div>
						<p>
							<a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="btn primary press">Répondre</a>
						</p>

						On affiche les réponses
						{% for reply in comment.replies %}
							<p>Réponse publiée par
								{{reply.nickname}}
								le
								{{reply.createdAt|date("d/m/Y H:i") }}</p>
							<div>{{reply.content|raw}}</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-xs2 col-sm3" id="ajout-commentaire">
				<h3>Ajouter un commentaire</h3>
				{{ form_start(commentForm) }}
				{{ form_row(commentForm.content, {'label': 'Votre message'}) }}
				{{ form_row(commentForm.rgpd) }}
				<div id="editor"></div>
				<input type="submit" value="Envoyer" class="btn btn-primary">
				{{ form_end(commentForm) }}
			</div>
		</div>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}


		<a href="{{ path('app_produit_index') }}">liste des produits</a>

		<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">modifier</a>

		{{ include('produit/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
