{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
  <h1 class="tit">{{produit.nom}}</h1>
	<div class="rowi">
		<div class="col-4">
			<a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal1">


				<img src="{{asset('uploads/' ~ produit.image) }}" alt="" class="img-fluid thumbnail">
			</a>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">

					<div class="modal-body">

						<img src="{{asset('uploads/' ~ produit.image) }}" alt="" class="imgmod img-fluid thumbnail">
					</div>

				</div>
			</div>
		</div>
		{# modalfin #}
		<div class="col-4">
			<dl>

				<dt>Nom</dt>
				<dd>{{produit.nom}}</dd>

				<dt>stock</dt>
				<dd>{{produit.stock}}</dd>

				<dt>Prix</dt>
				<dd>{{produit.prix}}
					&nbsp;€</dd>

				<dt>Ajouter au panier</dt>
				<dd></dd>
				{% if app.user and produit.stock > 0 %}
					<td>
						<form action="{{ path('add_panier', {'id' : produit.id}) }}" method="post">
							<input type="number" name="qtte" id="qtte" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" style="max-width: 50px;" value="1">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</button>
						</form>
					</td>
				{% elseif app.user and produit.stock == 0 %}
					<td class="text-danger">Rupture de stock</td>
				{% endif %}
			</dl>

		</div>
		<div class="col-4">
			{# debut liste #}
			{# <div class="list-group">
				<a href="#" class="list-group-item list-group-item-dark">A simple default list group item</a>

				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">A simple primary list group item</a>
				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">A simple secondary list group item</a>
				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">Abat-jour</a>
				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">plateaux</a>
				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">théières</a>
				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">Lampes</a>
				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">Khol</a>
				<a href="{{path('app_accueil')}}" class="list-group-item list-group-item-action list-group-item-dark">Poufs</a>
			</div> #}
			{# fin de list #}
{# new liste #}
<div class="drike" id="prodbox">
<ul>
<li style="--clr:#00ade1">
<a href="{{path('app_accueil')}}" data-text="&nbsp;Divers">&nbsp;Divers&nbsp;</a>
</li>
<li style="--clr:#ff6493">
<a href="{{path('app_accueil')}}" data-text="&nbsp;Mobilier">&nbsp;Mobilier&nbsp;</a>
</li>
<li style="--clr:#ffdd1c">
<a href="{{path('app_accueil')}}" data-text="&nbsp;Cosmetic">&nbsp;Cosmetic&nbsp;</a>
</li>
<li style="--clr:#00dc82">
<a href="{{path('app_accueil')}}" data-text="&nbsp;Deco">&nbsp;Deco&nbsp;</a>
</li>
<li style="--clr:#dc00d4">
<a href="{{path('app_accueil')}}" data-text="&nbsp;poterie">&nbsp;poterie&nbsp;</a>
</li>

</ul>
{# fin liste #}
		</div>
		</div>

	</div>

	<div class="tab2 accordion accordion-flush" id="accordionFlushExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					<strong>Description</strong>
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					{{produit.description|raw}}</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					<strong>Histoire</strong>
				</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">{{produit.histoire|raw}}</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
					<strong>Utilisation</strong>
				</button>
			</h2>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">{{produit.utilisation|raw}}</div>
			</div>
		</div>
	</div>
	<div class="tit">
		<h2>Vous aimerez aussi</h2>
	</div>
	<main>
<section>

		<div class="colib">
			{# <a href="{{path('app_plateau')}}"> #}
				<img src="{{ asset("poufrouge.jpg")}}" class="card-img-top" alt="..."></a>
		</div>
		<div class="colib">
			{# <a href="{{path('app_pouf')}}"> #}
				<img src="{{ asset("poufrouge.jpg")}}" class="card-img-top" alt="..."></a>
		</div>
		<div class="colib">
			{# <a href="{{path('app_theiere')}}"> #}
				<img src="{{ asset("poufrouge.jpg")}}" class="card-img-top" alt="..."></a>
		</div>
		<div class="colib">
			{# <a href="{{path('app_khol')}}"> #}
				<img src="{{ asset("kholima.jpg")}}" class="card-img-top" alt="..."></a>
		</div>
		<div class="colib">
			{# <a href="{{path('app_pouf')}}"> #}
				<img src="{{ asset("poufrouge.jpg")}}" class="card-img-top" alt="..."></a>
		</div>
		<div class="colib">
			{# <a href="{{path('app_pouf')}}"> #}
				<img src="{{ asset("poufrouge.jpg")}}" class="card-img-top" alt="..."></a>
		</div>
		<div class="colib">
			{# <a href="{{path('app_pouf')}}"> #}
				<img src="{{ asset("poufrouge.jpg")}}" class="card-img-top" alt="..."></a>
		</div>
</section>
</main>
					{% if app.user %}

	  <div class="grix xs2 sm3 gutter-0 card">
			<div class="col-xs2 col-sm3">
				<h2>Commentaires</h2>
				{% for comment in produit.comments %}
					{% if comment.parent == null %}
						<h3>Commentaire de {{comment.nickname}}</h3>
						<p>Publié le {{comment.createdAt|date("d/m/Y H:i") }}</p>
						<div>{{comment.content|raw}}</div>
						<p><a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="btn primary press">Répondre</a></p>

						On affiche les réponses 
						{% for reply in comment.replies %} 
							 <p>Réponse publiée par {{reply.nickname}} le {{reply.createdAt|date("d/m/Y H:i") }}</p> 
							 <div>{{reply.content|raw}}</div> 
						{% endfor %} 
				 {% endif %} 
				{% endfor %} 
		 </div>
			<div class="col-xs2 col-sm3" id="ajout-commentaire">
				<h3>Ajouter un commentaire</h3>
				{{ form_start(commentForm) }}
					{{ form_row(commentForm.content, {'label': 'Votre message'}) }}
					{{ form_row(commentForm.rgpd) }}
                    <div id="editor"></div>
					<input type="submit" value="Envoyer" class="btn btn-primary">
				{{ form_end(commentForm) }}
			</div> 
		</div>
					{% endif %}
         
						{% if is_granted('ROLE_ADMIN') %}
               

    <a href="{{ path('app_produit_index') }}">liste des produits</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">modifier</a>

    {{ include('produit/_delete_form.html.twig') }}
						{% endif %}

{% endblock %}
