{% extends 'base.html.twig' %}

{% block title %}Transport index{% endblock %}

{% block body %}
    <h1>Transport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Detail</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
                <td>{{ transport.id }}</td>
                <td>{{ transport.nom }}</td>
                <td>{{ transport.detail }}</td>
                <td>{{ transport.prix }}</td>
                <td>
                    <a href="{{ path('app_transport_show', {'id': transport.id}) }}">show</a>
                    <a href="{{ path('app_transport_edit', {'id': transport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_transport_new') }}">Create new</a>
{% endblock %}
