{% extends 'base.html.twig' %}

{% block title %}Transport index{% endblock %}

{% block body %}
    <h1>Transport index</h1>

    <table class="table">
        <thead>
            <tr>
				{% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
				{% endif %}
                <th>Nom</th>
                <th>Detail</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
				{% if is_granted('ROLE_ADMIN') %}
                <td>{{ transport.id }}</td>
				{% endif %}
                <td>{{ transport.nom }}</td>
                <td>{{ transport.detail }}</td>
                <td>{{ transport.prix }}&nbsp;€</td>
				{% if is_granted('ROLE_ADMIN') %}

                <td>
                    <a href="{{ path('app_transport_show', {'id': transport.id}) }}">show</a>
                    <a href="{{ path('app_transport_edit', {'id': transport.id}) }}">edit</a>
                </td>
				{% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
				{% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_transport_new') }}">Create new</a>
				{% endif %}

{% endblock %}
