{% extends 'base.html.twig' %}

{% block title %}Transport{% endblock %}

{% block body %}
    <h1>Transport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transport.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ transport.nom }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ transport.detail }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ transport.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transport_index') }}">back to list</a>

    <a href="{{ path('app_transport_edit', {'id': transport.id}) }}">edit</a>

    {{ include('transport/_delete_form.html.twig') }}
{% endblock %}
