

{% block body %}

    <h1>Mes commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>numero de commande</th>
                <th>Date de la commande</th>
                <th>Etat</th>
                <th>produit</th>
					<th>quantité</th>

            </tr>
        </thead>
        <tbody>
        {% for commande in app.user.commandes %}

            <tr>
                <td>{{ commande.numcom }}</td>
                <td>{{ commande.datecom ? commande.datecom|date('Y-m-d') : '' }}</td>
                <td>{{ commande.etat }}</td>

                <td>
                {% for cp in commande.commandeProduits %}
								{{(cp.produit.nom) }}</td>
						</td>
						

						<td>{{(cp.quantite)}}</td>
</td>
					{% endfor %}

            
        {% endfor %}
        </tbody>
    </table>
					

{% endblock %}
