{% block body %}
<h1>L'ART DU MAROC</h1>


	<div class="container">
		<h1 class="text-center m-5">facture</h1>
	
			<h5 class="text-center">Bonjour 
			{{commande.user.nom}}
                    {{commande.user.prenom}}</h5><br>
				<h5 class="text-center">Récapitulatif de votre commande</h5><br>
				
				<div class="confirm-section">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Produit</th>
								<th scope="col">Quantité</th>
								<th scope="col">Prix</th>
								<th scope="col">Total HT</th>

							</tr>
						</thead>
						 {% set total = null %}
						{% for produit in commande.commandeProduits %}
								<td>{{produit.produit.nom}}</td>
								<td>
									{{produit.quantite}}</td>

								<td>{{produit.prix}}€
								</td>
								<td>{{ produit.prix * produit.quantite}}€
								</td>
							</tr>
							{% set total = total + (produit.prix * produit.quantite) %}  
						
						{% endfor %}

					</tbody>
				</table>
			</div>
			<div class="m-3">
				<hr>
				 <strong>Total HT :
					{{ total }}
					€</strong><br>
				<strong>TVA :
					{{ 0.20 * total |round}}
					€</strong><br>
					
				<strong>Livraison :
                    {{commande.transportPrix}}€</strong><br>
				<strong>Transporteur :
                    {{commande.transportNom}}</strong><br>
					<strong>Montant TTC :{{ total + commande.transportPrix + (0.20 * total)}}
					€</strong><br> </div>
					<div class="facture">
					<div class="col-4">
				<strong>vos coordonnées de livraison:
                    {{commande.adresse|raw}}
                    </strong><br> </div>
					<div class="col-4">

<strong>vos coordonnées de facturation:
                    {{commande.adressefact|raw}}
                    </strong><br>
</div>
</div> 
				<strong>votre email :
                    {{commande.user.email}}</strong><br>

</div>

{% block css %}
<style>
.facture {
	 /* display: flex;
  justify-content: center; */
}
</style>
{% endblock %}
				
				


{% endblock %}