{% block body %}
<h1>L'ART DU MAROC</h1>


	<div class="container">
		<h2 class="text-center m-5">facture</h2>
	<div class="">
			<h5 class=""><strong>Bonjour 
			{{commande.user.nom}}
                    {{commande.user.prenom}}</strong></h5><br>
				<p class=""> votre commande du
				 {{ commande.datecom ? commande.datecom|date('Y-m-d') : '' }}</p>
				</div>
				<div class="confirm-section">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Quantité</th>
								<th scope="col">Produit</th>
								<th scope="col">Prix</th>
								<th scope="col">Total HT</th>
							</tr>
						</thead>
						 {% set total = null %}
						{% for produit in commande.commandeProduits %}
								<td>
									{{produit.quantite}}</td>
								<td>{{produit.produit.nom}}</td>
								<td>{{produit.prix}}€
								</td>
								<td>{{ produit.prix * produit.quantite}}€
								</td>
							</tr>
							{% set total = total + (produit.prix * produit.quantite) %}  
						
						{% endfor %}

					</tbody>
				</table>
			</div>
			<div class="m-3">
				<hr>
				 <strong>Total HT :
					{{ total }}
					€</strong><br>
				<strong>TVA :
					{{ 0.20 * total |round}}
					€</strong><br>
					
				<strong>Livraison :
                    {{commande.transportPrix}}€</strong><br>
				<strong>Transporteur :
                    {{commande.transportNom}}</strong><br>
					<strong>Montant TTC :{{ total + commande.transportPrix + (0.20 * total)}}
					€</strong><br> </div>
					<div class="facturepdf">
				<strong>vos coordonnées de livraison: </strong><br>
                    {{commande.adresse|raw}}
                   <br> </div>
					<div class="facturepdf2">

<strong>vos coordonnées de facturation: </strong><br>
                    {{commande.adressefact|raw}}
                   <br>
</div>
				<strong>votre email :</strong>
                    {{commande.user.email}}

</div>

 {% block css %}
<style>
.facturepdf {
  padding-top: 20px;
  padding-bottom: 20px;

}
.facturepdf2 {
  padding-bottom: 20px;
}
h1{
	margin-left: 200px;
}
h2{
	margin-left: 300px;
}
</style>
{% endblock %} 
				
				


{% endblock %}