{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{path('app_user_show',{id: app.user.id})}}">Mon compte</a></li>

    <li class="breadcrumb-item active" aria-current="page">vous êtes ici</li>
  </ol>
</nav>
    <h1>Mes commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date de la commande</th>
                <th>Etat</th>
                <th>produit</th>
					 <th>image</th>
					<th>quantité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# {% for commande in commandes %} #}
        {% for commande in app.user.commandes %}

            <tr>
                <td>{{ commande.numcom }}</td>
                <td>{{ commande.datecom ? commande.datecom|date('Y-m-d') : '' }}</td>
                <td>{{ commande.etat }}</td>
                {# <td>{{ commande.user.nom }}</td> #}

                <td>
                {% for cp in commande.commandeProduits %}
								{{(cp.produit.nom) }}</td>
						</td>
						<td>
							<img src="{{ asset("uploads/" ~ cp.produit.image) }}" alt="" class="imgreg img-fluid thumbnail">
						</td>

						<td>{{(cp.quantite)}}</td>

					{% endfor %}
                                                                <td><a href="{{ path('app_commande_show', {'id': commande.id}) }}">detail</a> </td>
						{# {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">modifier</a>
						{% endif %} #}
               
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
						{# {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_commande_new') }}">Create new</a>
						{% endif %} #}

{% endblock %}
