{% extends 'base.html.twig' %}
{% block title %}Recap
{% endblock %}
{% block body %}


	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
	</div>
	<div class="container">
		<h1 class="text-center m-5">Recapitulatif de ma commande</h1>
		<p class="text-center m-5">Verifiez les informations avant de cliquer sur Payer !</p>
		<hr>
		<div class="row">
			<div class="col-md-12 ">
				<h5 class="text-center">Récapitulatif de votre commande</h5><br>
				<div class="d-flex">
					<div class=" confirm-section">
						<h5>Votre choix de livraison</h5>
						<hr>
						<b>Societé :
						</b>
						{{transport.nom}}<br>
						<b>Tarif:
						</b>
						{{transport.prix}}
						€<br>
						<b>Déscription :
						</b>
						{{transport.detail|raw}}<br>
					</div>
					<div class="confirm-section">
						<h5>Votre adresse de livraison</h5>
						<hr>
						<b>
							Votre nom et prénom :
						</b>
						{{adresse.nomPrenom}}
						<br>
						<b>
							Societé :</b>
						{{adresse.societe}}<br>
						<b>
							Télephone :</b>
						{{adresse.tel}}<br>
						{{adresse.info}}<br>
						<b>
							Adresse :</b>
						{{adresse.numero}}
						{{adresse.rue}}<br>
						{{adresse.ville}}
						{{adresse.cp}}
						<br>
						{{adresse.pays}}
					</div>
				</div>
				<div class="confirm-section">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Produit</th>
								<th scope="col">Quantité</th>
								<th scope="col">Image</th>
								<th scope="col">Prix</th>
								<th scope="col">Total HT</th>
								<th scope="col">pdf</th>

							</tr>
						</thead>
						{% set total = null %}
						{% for key,produit in panier %}
							<tr class="{% if key > 0 %} m-2 {% endif %}">
								<td>{{produit.produit.nom}}</td>
								<td>
									{{produit.quantite}}</td>
								<td><img src="/uploads/{{produit.produit.image}}" alt=" image du produit: {{produit.produit.nom}}" style="width:17px;"></td>

								<td>{{produit.produit.prix}}€
								</td>
								<td>{{ produit.produit.prix * produit.quantite}}€
								</td>
								<td> <a href="{{ path('app_facture_pdf', {'id': commande.id}) }}">pdf</a> 
						</td>
							</tr>
							{% set total = total + (produit.produit.prix * produit.quantite) %}
                    
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="m-3">
				<hr>
				<strong>Sous total :
					{{ total }}
					€</strong><br>
				<strong>TVA :
					{{ 0.20 * total |round}}
					€</strong><br>
				<strong>Livraison :
					{{transport.prix}}
					€</strong><br>
				<strong>Total TTC :{{ total + transport.prix + (0.20 * total)}}
					€</strong><br>

				<a id="checkout-button" href="{{path('app_payment',{'token': commande.token})}}" class="btn btn-primary">
					<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
					Payer
					{{ total + transport.prix + (0.20 * total)}}
					€</a>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
