{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Datecom</th>
                <td>{{ commande.datecom ? commande.datecom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ commande.etat }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">liste</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">modifier</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
