{% extends 'base.html.twig' %}
{% block title %}accueil
{% endblock %}

{% block body %}


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" type="text/javascript" href="{{asset('script.js')}}">

	<link rel="stylesheet" href="{{asset('style.css')}}">
</head>

<body>

	<img src={{asset("portemaroc.jpg")}} class="portrait" alt="peinture">


	

		{# caroussel #}
		{# <div class="caro col-6">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					{% for produit in derniersProduits %}
						<div class="carousel-item {{ loop.first ? 'active' }}">
							<img class="img-fluid1" src="{{ asset("uploads/" ~ produit.image) }}" alt="Responsive image">
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div> #}

		<div class="caro">
{# <div> #}
	<br><br>

	<section id="slider">
		<input type="radio" name="slider" id="s1" checked>
		<input type="radio" name="slider" id="s2">
		<input type="radio" name="slider" id="s3">
		<input type="radio" name="slider" id="s4">
		<input type="radio" name="slider" id="s5">
					{% for produit in derniersProduits %}

		<label for="s1" id="slide1">
			<img src="{{ asset("uploads/" ~ produit.image) }}" height="100%" width="100%">
		</label>

		<label for="s2" id="slide2">
			<img src="{{ asset("uploads/" ~ produit.image) }}" height="100%" width="100%">
		</label>
		<label for="s3" id="slide3">
			<img src="{{ asset("uploads/" ~ produit.image) }}" height="100%" width="100%">
		</label>
		<label for="s4" id="slide4">
			<img src="{{ asset("uploads/" ~ produit.image) }}" height="100%" width="100%">
		</label>
		<label for="s5" id="slide5">
			<img src="{{ asset("uploads/" ~ produit.image) }}" height="100%" width="100%">
		</label>
	{% endfor %}

	</section>
	</div>
	{# <div
		class="corps1"> #}
	<div class="progress">
		<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<div class="tit">
		<h1>Lieux historiques</h1>
	</div>

	<div class="container">
		<div class="tan">
			<img src="{{ asset("tannerie.jpg")}}" class="card-img-top" style="width: 28rem;" alt="..."></a>
		<div class="parag">
			<h2 class="tit1">Tannerie de Fes</h2>
			<p class="ml-5 mr-5">
				La tannerie Chouara est l'une des trois tanneries de la ville de Fès, au Maroc. C'est la plus grande tannerie de la ville et l'une des plus anciennes. Il est situé dans le Fès el Bali, le plus ancien quartier médina de la ville, près de la madrasa Saffarine le long de l'Oued Fès
			</p>
		</div>

	</div>

	<div class="parag">
		<h2 class="tit1">Place Seffarine</h2>
		<p class="ml-5 mr-5">

			La Place Seffarine tire son nom des dinandiers qui y exercent un métier artisanal de premier plan dans l’histoire de Fès . Porteurs d’un savoir-faire ancestral, les dinandiers et les chaudronniers s’y activent toujours , martelant le cuivre et le laiton dans un concert remarquable de sonorités . De leurs mains expertes , toutes sortes d’ustensiles sont façonnés : chaudrons, marmites, seaux, brule-parfums, plateaux , théières boites a thé et à sucre , braseros haut sur pieds, bouilloires , couscoussiers, samovars, etc . Ils servent au quotidien ou lors de grandes fêtes, dans le maisons modestes ou chez les familles aisées. Leurs prix varie selon leurs dimensions, leur qualités d’exécution et de finition. Les techniques ancestrales de cet artisanat, ont enrichies au fil du temps par des procédés nouveaux.
		</p>
	</div>
	<div class="seffar">

		<img src="{{ asset("seffarine.jpg")}}" class="card-img-top" style="width: 28rem;" alt="...">
	<img src="{{ asset("sefarine2.jpg")}}" class="card-img-top" style="width: 28rem;" alt="...">
</div>

<div class="parag">
<h2 class="tit1">La poterie</h2>
<p class="ml-5 mr-5">
Cet art ancestral qu’est la poterie au Maroc est ancré depuis des siècles, ce sont les Maures il y a plus de 1000 ans qui ont installés les premiers fours à Fès, Meknès, Safi et Marrakech.

La poterie au Maroc est une pure tradition marocaine transmise de générations en générations.
On peut ainsi dire que la poterie au Maroc est un véritable art de vivre !
L’histoire de la poterie au Maroc est très riche et variée mais, tout comme le temps, elle a dû se confronter à de nouveaux concepts avec pour objectif d’évoluer et de s’adapter aux nouvelles tendances, utilitaires comme décoratives tout en conservant toute son authenticité.
Ainsi, toujours teintée de culture locale, la poterie se diversifie et notamment entre le nord et le sud du royaume, de même entre les villes et les villages ruraux, c’est cette diversité qui fait valoir les belles poteries du maroc, poteries citadines et poteries berbères. Née de cet héritage très ancien, cette poterie marocaine et berbère séduit toujours de toutes les particularités qu’elle peut faire valoir.</p>
</div>
	<div class="seffar">
<img src="{{ asset("poteriemar.jpg")}}" class="card-img-top" style="width: 28rem;" alt="...">

<img src="{{ asset("poterie2.jpg")}}" class="card-img-top" style="width: 28rem;" alt="...">
</div>
<div class="tan">
			<img src="{{ asset("themar.jpg")}}" class="card-img-top" style="width: 28rem;" alt="...">
		<div class="parag">
			<h2 class="tit1">Le thé a la menthe</h2>
			<p class="ml-5 mr-5">
				La tannerie Chouara est l'une des trois tanneries de la ville de Fès, au Maroc. C'est la plus grande tannerie de la ville et l'une des plus anciennes. Il est situé dans le Fès el Bali, le plus ancien quartier médina de la ville, près de la madrasa Saffarine le long de l'Oued Fès
			</p>
			</div></div></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
