{% extends 'base.html.twig' %}
{% block title %}accueil
{% endblock %}

{% block body %}


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" href="{{asset('script.js')}}">

	<link rel="stylesheet" href="{{asset('style.css')}}">
</head>

<body>

	<img src="peinture3.jpg" class="portrait" alt="peinture">


	<div class="corps1">
		<div class="tab col-4">
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item">
					<h1 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							<strong>Service a thé</strong>
						</button>
					</h1>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
						{# <a class="accordion-body" type="" href="{{path('app_theiere')}}">Theieres</a><br> #}
						{# <a class="accordion-body" type="" href="{{path('app_plateau')}}">Plateaux</a><br> #}

					</div>
				</div>
				
				<div class="accordion-item">
					<h1 class="accordion-header" id="flush-headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							<strong>Decoration</strong>
						</button>
					</h1>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
						{# <a class="accordion-body" type="" href="{{path('app_pouf')}}">poufs</a><br> #}
						{# <a class="accordion-body" type="" href="{{path('app_pouf')}}">poufs</a><br> #}
					
					</div>
				</div>
				<div class="accordion-item">
					<h1 class="accordion-header" id="flush-headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
							<strong>Luminaires
							</strong>
						</button>
					</h1>
					<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
						{# <a class="accordion-body" type="" href="{{path('app_lampe')}}">lampes</a><br> #}
						{# <a class="accordion-body" type="" href="{{path('app_abat')}}">abat-jour</a><br> #}
					
					</div>
				</div>
				<div class="accordion-item">
					<h1 class="accordion-header" id="flush-headingFour">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
							<strong>Poteries</strong>
						</button>
					</h1>
					<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
			{# {% for produit in produit.categorie %}
						
						<a class="accordion-body" type="" href="{{path('app_test', {'id' : produit.id})}}">test</a><br>
						<a class="accordion-body" type="" href="{{path('app_register')}}">ici les liens</a><br>
			{% endfor %} #}
					
					</div>
				</div>
				<div class="accordion-item">
					<h1 class="accordion-header" id="flush-headingFive">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
							<strong>Meubles</strong>
						</button>
					</h1>
					<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
						<a class="accordion-body" type="" href="{{path('app_produit_index')}}">prodnew</a><br>
						<a class="accordion-body" type="" href="{{path('app_register')}}">ici les liens</a>

					</div>
				</div>
				<div class="accordion-item">
					<h1 class="accordion-header" id="flush-headingSix">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
							<strong>Cosmétiques</strong>
						</button>
					</h1>
					<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
						{# <a class="accordion-body" type="" href="{{path('app_khol')}}">Khol</a><br> #}
						{# <a class="accordion-body" type="" href="{{path('app_plateau')}}">huiles</a><br> #}

					</div>
				</div>
			</div>

		</div>
		{# caroussel #}
		<div class="caro col-8">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					{% for produit in derniersProduits %}
						<div class="carousel-item {{ loop.first ? 'active' }}">
							<img class="img-fluid1" src="{{ asset("uploads/" ~ produit.image) }}" alt="Responsive image">
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<div class="progress">
		<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<div class="tit">
		<h1>Nos préférés</h1>
	</div>
{# <main> #}

	<div class="container">
		<div class="card-body d-inline-flex">
			{# <a href="<?= url('lampe') ?>"> #}
				<img src="{{ asset("kholima.jpg")}}" class="card-img-top" style="width: 28rem;" alt="..."></a>
			<div class="parag">
				<h2 class="tit1">L'huile d'argan</h2>
				<p class="ml-5 mr-5">
					Nombreux sont les termes associés à l’huile d’Argan, qui de nos jours, n’a plus besoin de présentation.
					{# <a class="btn btn-primary" href="{{path('app_detailproduit',{id:8})}}" role="button">suite...</a> #}
				</p>
			</div>

		</div>
		<div class="card-body d-inline-flex">

			<div class="parag">
				<h2 class="tit1">Le khol</h2>
				<p class="ml-5 mr-5">

					Le khôl est toujours utilisé par les femmes d’hier et d’aujourd’hui. Un peu d’histoire pour mieux apprécier cet incomparable produit de beauté.
					{# <a class="btn btn-primary" href="{{path('app_khol')}}" role="button">suite...</a> #}
				</p>
			</div>

			{# <a href="{{path('app_khol')}}"> #}
				<img src="{{ asset("kholima.jpg")}}" class="card-img-top" style="width: 28rem;" alt="..."></a>

		</div>


		<div class="card-body d-inline-flex">
			{# <a href="{{path('app_detailproduit',{id:13})}}"> #}
				<img src="{{ asset("poufrouge.jpg")}}" class="card-img-top" style="width: 28rem;" alt="..."></a>
			<div class="parag">
				<h2 class="tit1">Les poufs</h2>

				<p class="ml-5 mr-5">
					Le pouf marocain invite à un beau voyage vers le Maroc et à la découverte de l’incroyable richesse du pays. Il donne vie à n’importe quel intérieur.
					{# <a class="btn btn-primary" href="{{path('app_detailproduit',{id:13})}}" role="button">suite...</a> #}
				</p>
			</div>
		</div>

		<div class="card-body d-inline-flex">

			<div class="parag">
				<h2 class="tit1">Les théières</h2>
				<p class="ml-5 mr-5">
					La théière marocaine, fabriquée en cuivre doré ou argenté ciselé, martelé ou gravé d'un décor oriental et travaillé avec finesse à la main avec des artisans. Elle a une forme unique.
					<a class="btn btn-primary" href="{{path('app_theiere')}}" role="button">suite...</a>
				</p>
			</div>

			{# <figure class="card"> #}
			{# <a href="{{path('app_theiere')}}"> #}
				{# <img src="{{ asset("uploads/11df291cf4ed4c2c751a6beb24092904b462f55e.jpg")}}" class="card-img-top" style="width: 28rem;" alt="les théières"></a> #}
					{# <figcaption class="overlay"> #}
{# <p>les théières</p> #}
{# </figcaption> #}
		{# </figure> #}
		{# </p> #}
	</div>
	{# </main> #}
</body></div></body></div><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>{% endblock %}
