{% extends 'base.html.twig' %}

{% block title %}Adresse livraison{% endblock %}

{% block body %}
    <h1>Adresse de livraison</h1>

    <table class="table">
        <tbody>
				{% if is_granted('ROLE_ADMIN') %}

            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
				{% endif %}

            <tr>
                <th>Nom</th>
                <td>{{ adresse.nom }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ adresse.numero }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adresse.rue }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ adresse.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse.pays }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ adresse.info }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ adresse.societe }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ adresse.tel }}</td>
            </tr>
            <tr>
                <th>Nom_prenom</th>
                <td>{{ adresse.nomPrenom }}</td>
            </tr>
        </tbody>
    </table>
				{% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_adresse_index') }}">back to list</a>
				{% endif %}

    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">edit</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
