{% extends 'base.html.twig' %}

{% block title %}plateaux
{% endblock %}

{% block body %}
{# <div class="imgglob">
				<img src="{{ asset("poufrouge.jpg")}}" class="tof46 card-img-top" alt="..."></a>

</div> #}
<div class="titrepouf">
		<h1>NOS PLATEAUX</h1>
	</div>
	<div class="pouf">

		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:14})}}">
				<img src="{{ asset("uploads/0b109d14f9cffea8af44feea17086d37ddc77607.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">PLATEAU <br>LONG<br>métal argenté</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:15})}}">
				<img src="{{ asset('uploads/c7e679bce5b32e946644e25df8ea279956c1c00e.jpg') }}" class="card-img-top" alt="..."></a>
				<p class="surplus5">PLATEAU <br>ROND<br>métal argenté</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:16})}}">
				<img src="{{ asset("uploads/54ae8abcb59bc3ce25abab30c57192f5a2fb2ec2.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">PLATEAU <br>ROND<br>en cuivre</p>
		
		</div>
		

	</div>

	

{% endblock %}