{% extends 'base.html.twig' %}

{% block title %}poufs
{% endblock %}

{% block body %}
{# <div class="imgglob">
				<img src="{{ asset("poufrouge.jpg")}}" class="tof46 card-img-top" alt="..."></a>

</div> #}
<div class="titrepouf">
		<h1>NOS POUFS</h1>
	</div>
	<div class="pouf">

		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:13})}}">
				<img src="{{ asset("uploads/1d596ca3627a3bcb71a54f6fd8bd0e38ac110a4c.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">POUF <br>ROUGE</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:11})}}">
				<img src="{{ asset('uploads/d652a82f1e8f6449bec3a3444175c36eb6317223.jpg') }}" class="card-img-top" alt="..."></a>
				<p class="surplus5">POUF <br>BLEU</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:12})}}">
				<img src="{{ asset("uploads/28c6c1e537f1a2005ce9e081d1a74765be9700ca.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">POUF <br>MARRON</p>
		
		</div>
		

	</div>

	

{% endblock %}