{% extends 'base.html.twig' %}

{% block title %}théières
{% endblock %}

{% block body %}
{# <div class="imgglob">
				<img src="{{ asset("poufrouge.jpg")}}" class="tof46 card-img-top" alt="..."></a>

</div> #}
<div class="titrepouf">
		<h1>NOS THEIERES</h1>
	</div>
	<div class="pouf">

		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:17})}}">
				<img src="{{ asset("uploads/11df291cf4ed4c2c751a6beb24092904b462f55e.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">THEIERE <br>SANS PIEDS<br>métal argenté</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:18})}}">
				<img src="{{ asset('uploads/361340059ed2ef2d362aeb06e56981456931ef46.jpg') }}" class="card-img-top" alt="..."></a>
				<p class="surplus5">THEIERE <br>AVEC PIEDS<br>métal argenté</p>
		
		</div>
		<div class="pouf1">
			<a href="{{path('app_detailproduit',{id:19})}}">
				<img src="{{ asset("uploads/28ffffa4305f802ca76bafd0ecdfa88447584230.jpg")}}" class="card-img-top" alt="..."></a>
				<p class="surplus5">THEIERE <br>SANS PIEDS<br>en cuivre</p>
		
		</div>
		

	</div>

	

{% endblock %}