{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>{{ categorie.nom|capitalize }}</h1>

    <table class="table">
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.prix }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
