{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<h1 class="tit">{{ categorie.nom|capitalize }}</h1>

	<table class="table">
		<tbody>
			{% for produit in produits %}

				
				{# 2eme essai #}
					<div class="categ"> <div
						class="categ1">
						<a class="hov" href="{{path('app_produit_show',{id: produit.id})}}" role="button">
							<img src="{{ asset("uploads/" ~ produit.image) }}" class="card-img-top" alt="...">

						</a>
		

					</div>
						{# <h1>{{ produit.nom }}</h1> #}

				{% endfor %}

			</div>
		</tbody>
	</table>


</div>
{% if is_granted('ROLE_ADMIN') %}

	<a href="{{ path('app_categorie_index') }}">back to list</a>

	<a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">modifier</a>

	{{ include('categorie/_delete_form.html.twig') }}
{% endif %}{% endblock %}
