{% extends 'base.html.twig' %}

{% block title %}Adressefact index{% endblock %}

{% block body %}
    <h1>liste des adresses de facturation</h1>

    <table class="table">
        <thead>
            <tr>
				{% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
				{% endif %}
                <th>Nom</th>
                <th>Numero</th>
                <th>Rue</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Info</th>
                <th>Societe</th>
                <th>Tel</th>
                {# <th>Nom_prenom</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adressefact in app.user.adressefacts %}
            <tr>
				{% if is_granted('ROLE_ADMIN') %}
                <td>{{ adressefact.id }}</td>
				{% endif %}
                <td>{{ adressefact.nom }}</td>
                <td>{{ adressefact.numero }}</td>
                <td>{{ adressefact.rue }}</td>
                <td>{{ adressefact.cp }}</td>
                <td>{{ adressefact.ville }}</td>
                <td>{{ adressefact.pays }}</td>
                <td>{{ adressefact.info }}</td>
                <td>{{ adressefact.societe }}</td>
                <td>{{ adressefact.tel }}</td>
                {# <td>{{ adressefact.nomPrenom }}</td> #}
                <td>
                    <a href="{{ path('app_adressefact_show', {'id': adressefact.id}) }}">detail</a>
                    <a href="{{ path('app_adressefact_edit', {'id': adressefact.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adressefact_new') }}">Créer une nouvelle adresse</a>
{% endblock %}
