{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 class="tit">Mon compte</h1>

    <table class="table">
        <tbody>
            {% if is_granted('ROLE_ADMIN') %}

            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
				{% endif %}
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
           
           
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    
   {# essai boxhover #}
   <div class="boxhover">
   <div class="box one"> 
  <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="boxx">Modifier des données</a>

    </div>
   <div class="box two">
   <a href="{{path('app_commande_index', {id: app.user.id})}}" class="boxx" aria-current="true">
    Mes commandes
  </a>
   </div>
   <div class="box three">
  <a href="{{path('app_adresse_index')}}" class="boxx">Mon adresse de livraison</a>
   
   </div>
   <div class="box four">
  <a href="{{path('app_adressefact_index')}}" class="boxx">Mon adresse de facturation</a>
   
   </div>
   <div class="box five">
  <a href="{{path('app_donnees_pdf', {id: user.id})}}" class="boxx">exporter mes données<img src="{{asset('pdfico.ico') }}"></a>
   
   </div>
				{% if is_granted('ROLE_ADMIN') %}

    <div class="box six">
  <a href="{{ path('app_user_index') }}" class="boxx">liste utilisateurs</a>
   
   </div>
				{% endif %}

</div>
<div class="" id="suppeffect">
<h2 class="sur"><span>tu</span> veux<span> supprimer ton </span>compte?</h2>
</div>
{# fin boxhover #}

    {# <div class="tit">

<a class="btn btn-danger"{{ include('user/_delete_form.html.twig') }}</a>
</div> #}
				{# essai button #}
<div class="buttonrouge" id="red">
                <a style="--clr:#ff1867"><span>{{ include('user/_delete_form.html.twig') }}</span><i></i></a>
</div>

{% endblock %}
